{erl_opts, [debug_info,
            parse_transform,
            lager_transform,
            report,
            verbose,
            warn_deprecated_function,
            warn_deprecated_type,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_untyped_record,
            warn_unused_import]}.


{deps, [lager
        ]}.


{cover_enabled, true}.

{dialyzer,
 [
  %% Store PLT locally inside the project in .rebar (Default)
  {plt_location, local},
  {warnings, [unmatched_returns, error_handling]}
 ]}.
