{deps, [{lager, "3.6.4"},
        {cowboy, "2.4.0"}
        ]}.

{plugins, [rebar3_proper]}.

%% The PropEr dependency is still required to compile the test cases
{profiles,
    [{test, [{deps, [{proper, "1.2.0"}]}
    ]}
]}.

{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            report,
            verbose,
            warnings_as_errors,
            warn_deprecated_function,
            warn_deprecated_type,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_untyped_record,
            warn_unused_import]}.

{cover_enabled, true}.

{dialyzer,
 [
  %% Store PLT locally inside the project in .rebar (Default)
  {plt_location, local},
  {warnings,
        [unmatched_returns,
        no_return,
        no_unused,
        race_conditions,
        error_handling]}
  % {warnings, [no_return,
  %             no_unused,
  %             no_improper_lists,
  %             no_fun_app,
  %             no_match,
  %             no_opaque,
  %             no_fail_call,
  %             error_handling,
  %             race_conditions,
  %             unmatched_returns]}
 ]}.

{proper_opts,
  [
    {numtests, 500},
    {dir, "test/prop_nilva"},
    {cover, true}
  ]
}.

{lager,
  [
    %% Default handlers for lager/lager_event
    {handlers,
      [
        {lager_console_backend, [{level, info}]},
        {lager_file_backend, [{file, "error.log"}, {level, error}]},
        {lager_file_backend, [{file, "console.log"}, {level, debug}]}
      ]
    },

    {error_logger_redirect, false}

    % {extra_sinks,
    %   [
    %    {error_logger_lager_event,
    %     [{handlers, [
    %       {lager_file_backend, [{file, "error_logger.log"}, {level, info}]}]
    %       }]
    %    }]
    % }
  ]
}.
